<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<!-- web-fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">

<!-- font-awesome -->
<link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">

<!-- Style CSS -->
<link href="{{ url_for('static', filename='css/loadingstyle.css') }}" rel="stylesheet">

<!-- Handlebars JS -->
<script src="{{ url_for('static', filename='js/handlebars-v4.0.12.js') }}"></script>
</head>

<body>
<div class="col-block">
<div class="header-block">
    <div class="header-block-left">
        <img src="static/img/cimb_logo_transparent.png" alt="cimb_bank">
    </div>
    <div class="header-block-right" id="user_id">
    </div>
</div>
<div class="main-block">

<!-- Transaction process -->
<div class="left-block">
<div class="container-fluid">
<div class="row">
    <div class="loadingtext">
        WAITING FOR AUTHENTICATION..
    </div>
    <div class="loading">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
    <div class="help-text">
        In the event of no network, click on button below to authenticate via OTP
    </div>
    <form method="get" action="/verification">
        <button type="submit">ENTER OTP</button>
    </form>
</div>
</div>
</div>

<!-- Transaction List -->
<div class="right-block">
<div class="container-fluid">
<div class="row">

<!-- Title -->
<div class="col-md-12">
    <div class="list-title">
        MyTransactions
    </div>
    <div class="list-subtitle">
        PAST TRANSACTIONS
    </div>
</div>

<!-- List -->
<div class="col-md-12 list-container">
    <!-- handlebars to gen list -->
    <div id="listDiv"></div>

    <!-- Compile with handlebars groceries.handlebars -f groceries.js -->
    {% raw %}
    <script id="transaction-template" type="text/x-handlebars-template">
      {{#each transactions}}
          <div class="transaction-card">
              <div class="transaction-card-left">
                  <div class="transaction-title">
                      {{this.message}}
                  </div>
                  <div class="transaction-dt">
                      {{this.dt}}
                  </div>
              </div>
              <div class="transaction-card-right">
                  <div class="transaction-amount" style="color: {{this.color}}">
                      {{this.amount}}
                  </div>
              </div>
          </div>
      {{/each}}
    </script>
    {% endraw %}


</div>

</div>
</div>
</div>

</div>
</div>
<script src="{{ url_for('static', filename='js/session.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_list.js') }}" type="text/javascript"></script>
</body>
</html>
