<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

<!-- web-fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700,800" rel="stylesheet">

<!-- Style CSS -->
<link href="{{ url_for('static', filename='css/loginstyle.css') }}" rel="stylesheet">

<!-- jquery -->
<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/store_data.js') }}"></script>
</head>
<body>
<div class="main-container">
    <!-- logo container -->
    <div class="col-md-12">
        <div class="logo">
            <img src="static/img/cimb_logo_transparent.png" alt="logo">
        </div>
    </div>

    <!-- username and password input -->
    <!-- acc no, name, email, phone -->
    <form class="form" method="post" action="/register">
    <!-- <form class="form"> -->
        ACCOUNT NUMBER:
        <input type="text" placeholder="Account Number" id="userid" name="user_id">
        NAME:
        <input type="text" placeholder="Name" id="username" name="name">
        EMAIL:
        <input type="email" placeholder="Email" id="email" name="email">
        PHONE NUMBER:
        <input type="tel" placeholder="Phone Number" id="phonenumber" name="phone">

        <a href="index.html"><button type="submit" id="login-button" onclick="store_in_session()">LOGIN</button></a>
    </form>
</div>


</body>
</html>
